<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.theme_settings.avatar | relative_url }}" />
		</a>

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}

				<!-- pages들과 categories 구분하고, 특히 categories는 순서를 정해야 함 -->
				<!-- 아래 js 코드들 사이엔 주석 넣으면 안 됨. build failure 오류 남 -->
        {% for page in site.pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | relative_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}
    </ul>

	</nav>
</header>
